body {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    min-height: 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.main {
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
    width: 100%;
    justify-content: left;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: grey;
    color: white;
    text-align: center;
    margin-top: auto;
}

.header {
    background-color: grey;
    color: white;
}

.stuff {
    text-align: left;
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 50px;
}

.menu {
    background-color: darkgray;
    min-height: 100vh;
    padding-right: 30px;
}

html {
    height: 100vh;
    width: 100%;
}

.list {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style-type: none;
}


a {
    text-decoration: none;
    color: white;
}

.photos img {
    width: 300px;
    height: min-content;
    margin-bottom: 5px;
    border-radius: 10px;
}

.photos {
    display: flex;
    flex-direction: row;
    margin: 25px 0;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

