body {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    height: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

section {
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: grey;
    color: white;
    text-align: center;
}

header {
    background-color: grey;
    color: white;
}

article {
    text-align: left;
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 50px;
}

nav {
    background-color: darkgray;
    height: 100%;
    padding-right: 30px;
}

html {
    height: 100%;
}

ul {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}